<div class="row justify-content-md-center">
  <div class="col-sm-3">
    <%=image_tag("profile_pic.png") %>
    <h4>Name: <%= @user.first_name %></h4>
      <% full_date = @user.created_at %>
      <% date = full_date.to_s %>
      <% month = date[5..6] %>
      <% day = date[8..9] %>
      <% year = date[0..3] %>
    <h4>Date joined: <%= "#{month}/#{day}/#{year}" %></h4>
    <h4>Current city: <%= @user.user_city %></h4>
    <%= link_to "Edit profile", edit_user_path, class: "btn btn-outline-dark" %>
    <%= link_to "Delete profile", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
  </div>

  <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-10 review">
          <% @user.posts.each do |post| %>
              <h2><%= link_to post.title, post_path(post) %></h2>
              <p><%= post.content %></p>
              <%= fa_icon "edit" %>
              <%= fa_icon "trash" %>
          <% end %>
        </div>
      </div>

  </div>
</div>
