<div class="row justify-content-md-center">
  <div class="col-sm-3">
    <%=image_tag("profile_pic.png") %>
    <h3>Name: <%= @user.first_name %></h3>
      <% full_date = @user.created_at %>
      <% date = full_date.to_s %>
      <% month = date[5..6] %>
      <% day = date[8..9] %>
      <% year = date[0..3] %>
    <h4>Date joined: <%= "#{month}/#{day}/#{year}" %></h4>
    <h4>Current city: <%= @user.user_city %></h4>
    <%= link_to "Edit profile", edit_user_path, class: "btn btn-outline-dark" %>
    <%= link_to "Delete profile", user_path(@user), method: :delete, class: "btn btn-outline-danger" %>
  </div>

  <div class="col-sm-6">
    <h2>User posts:</h2>
      <div class="row">
        <div class="col-sm-10">
          <h4>title</h4>
        </div>
        <div class="col-sm-10">
          <% @user.posts.each do |post| %>
              <h2><%= link_to post.title, post_path(post) %></h2>
              <p><%= post.content %></p>
          <% end %>
        </div>
      </div>

  </div>
</div>
