<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-5"><%= @city.proper_name %></h1>
    </div>
    <div class="col-md-1 offset-md-5">
      <%= link_to "Add new post", new_post_path, class: "btn btn-outline-dark add-post float-right" %>
    </div>
  </div>
</div>

<%= image_tag @city.image, class: "img-fluid" %>

<div class="container main">
  <div class="row review">
    <% @city.posts.each do |post| %>
      <div class="col-md-2">
        <%=link_to image_tag(post.user.avatar.url(:original), size: "100x100", class: "profile-pic"), user_path(post.user_id) %>
      </div>
      <div class="col-md-10">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p><%= post.content %></p>
      </div>
    <% end %>
  </div>
</div>
