<!DOCTYPE html>
<html>
  <head>
    <title>VagabondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Carter+One" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="logo"><%= link_to "VAGABOND", root_path %></div>
          <%= link_to "Cities", cities_path, class: "bar btn btn-outline-dark" %>
          <% if current_user %>
            <div>
              <%= link_to "Profile", user_path(current_user), class: "bar btn btn-outline-dark" %>
              <%= link_to "Log Out", logout_path, class: "bar btn btn-outline-dark" %>
            </div>
          <% else %>
            <div>
              <%= link_to "Sign Up", new_user_path, class: "bar btn btn-outline-dark" %>
              <%= link_to "Log In", login_path, class: "bar btn btn-outline-dark" %>
            </div>
              <% end %>
            </div>
      </nav>

        <% flash.each do |name, msg| %>
          <div class="row justify-content-md-center">
            <div class="alert alert-secondary notice" role="alert">
              <h5><%= name.capitalize %>: <%= msg %></h5>
            </div>
          </div>
        <% end %>

        <%= yield %>
  </body>
</html>
